@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Calculator";//This is used in _Layout
}
<!-- Calculator web page!-->

<h2>Calculator</h2>
<p>Calculate some things.</p>

<div class="calculator">
    <!--Result/input row-->
    <div class ="row">
        <h3 id="inputResult">@ViewData["CalcResult"]</h3>
    </div>
    <!--calculator buttons!-->
    <div class="row mb-1">
        <div class="col">
            <button type="button" class="calcButton btn btn-info" value="7" onclick="calcInput(event)">7</button>
            <button type="button" class="calcButton btn btn-info" value="8" onclick="calcInput(event)">8</button>
            <button type="button" class="calcButton btn btn-info" value="9" onclick="calcInput(event)">9</button>
            <button type="button" class="calcButton btn btn-info" value="*" onclick="calcInput(event)">x</button>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col">
            <button type="button" class="calcButton btn btn-info" value="4" onclick="calcInput(event)">4</button>
            <button type="button" class="calcButton btn btn-info" value="5" onclick="calcInput(event)">5</button>
            <button type="button" class="calcButton btn btn-info" value="6" onclick="calcInput(event)">6</button>
            <button type="button" class="calcButton btn btn-info" value="-" onclick="calcInput(event)">-</button>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col">
            <button type="button" class="calcButton btn btn-info" value="1" onclick="calcInput(event)">1</button>
            <button type="button" class="calcButton btn btn-info" value="2" onclick="calcInput(event)">2</button>
            <button type="button" class="calcButton btn btn-info" value="3" onclick="calcInput(event)">3</button>
            <button type="button" class="calcButton btn btn-info" value="+" onclick="calcInput(event)">+</button>
        </div>
    </div>

    <div class="row mb-1">
        <div class="col">
            <button type="button" class="calcButton btn btn-info" value="." onclick="calcInput(event)">.</button>
            <button type="button" class="calcButton btn btn-info" value="0" onclick="calcInput(event)">0</button>
            <button type="submit" class="calcButton btn btn-info" value="=" onclick="submitInput()">=</button>
            <button type="button" class="calcButton btn btn-info" value="/" onclick="calcInput(event)">/</button>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col">
            <button type="button" class="calcButton btn btn-info" value="clr" onclick="clearInput()">clr</button>
        </div>
    </div>
</div>